/*responsive design****
************SmallScreen*/

@media only screen and (min-width: 480px) {
    /*contact-Page*/
    #primary {
        width: 50%;
        float: left;

    }
    #secondary {

        width: 40%;
        float: right;

    }

    /*indexPage*/

#logo1 img, #logo img {

  max-width: 220px;
}





  /*ABout-Page*/
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
}


/*****************
only 480 screen
******************/
@media only screen and  (max-width: 660px) {


.mySlides {
width: 290px;

height: 160px;
}


#logo1 img, #logo img {

  max-width: 200px;
}


}

/*responsive design****
************medScreen*/

@media screen and (min-width: 600px) and (max-width: 800px) {

    /*header*/




    .mySlides {
width: 80%;

     height: 280px;
    }




    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 0.825em;
        margin-bottom: 20px;


    }

    header {
        border-bottom: 1px solid #c2c2c2;

    }

@media only screen and (min-width: 660px) and (max-width:100%)

nav {
  nav {
      background: none;

      font-size: 1.125em;

      width: 100%;

  }
}

}
