/**********************************
GENERAL
***********************************/


body {
line-height: 1.5;
font-size: 15px;
font-family: 'Roboto', sans-serif;

}


#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding:  5%;


}


a {
  text-decoration: none;
}


img {
  max-width: 100%;

}



h3 {
  margin: 0 0 1em 0;
}

p {


font-size: 1.2em;
font-weight: 300;

}

/**********************************
HEADING
***********************************/

header {
float: left;
margin: 0 0 50px 0;
padding: 5px 0 0 0;
width: 100%;

}



#logo {
  text-align: center;
  max-width: 15%;
  margin: 0;

}


#logo1 {
  text-align: center;
  max-width: 15%;
  margin: 0;
}


h1 {
  font-family: 'Yellowtail', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}



/**********************************
NAVIGATION
***********************************/


nav {

  text-align: center;
  padding: 30px 0;
  margin: 10px 0 0;

}


nav a, nav a:visited {
  color: white;
}


nav a.selected, nav a:hover {
  color: #c7c7c7;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;

}

nav li {

  display: inline-block;
  
}

nav a {
  font-family: 'Roboto', sans-serif;
font-weight: 100;
font-size: 0.95em;
padding: 15px 10px;

}

/**********************************
FOOTER
***********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 50px;
  color: #c4c4c4;
  clear: both;
    margin-top: 20px;

}

.social-icon {
width: 20px;
height: 20px;
margin: 0 5px;
padding: 15px;
opacity: 0.9;

}


.regular {


font-size: 1em;

}

/**********************************
PAGE: Home
***********************************/

#wrapperHome #boxy img {


 box-shadow: 0px 2px 15px rgba(0,0,0,.7);

}

.w3-content {max-width:980px;margin:auto}

  .w3-animate-fading{-webkit-animation:fading 10s infinite;animation:fading 10s infinite}
  @-webkit-keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
  @keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
  .w3-animate-opacity{-webkit-animation:opac 1.5s;animation:opac 1.5s}
  @-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
  @keyframes opac{from{opacity:0} to{opacity:1}}





/**********************************
PAGE: ABOUT
***********************************/

.profile-photo {

display: block;
max-width: 100px;
margin: 0 auto 30px;
border-radius: 10px;

}

.mySlides {
display: none;

}
.w3-content1  {

float: right;
padding-top: 200px

}
 .sidePic {


  width: 500px;
margin-top: 50px;
  margin-right: 60px;
}




/**********************************
PAGE: CONTACT
***********************************/


.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {

    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;

}


.contact-info li.phone a {

  background-image: url('../pics/phone.png');

}

.contact-info li.twitter a {

background-image: url('../pics/twitter.png');

}




.contact-info li.mail a {

    background-image: url('../pics/mail.png');

}


.felipa-font {
    font-family: 'Felipa', cursive;
    font-size: 1.25em;
}




/**********************************
COLORS
***********************************/

body {

  background-color: white;
  color: #505050;
}


.main-page  {
    color: lightslategray;
    font-size: 2.5em;
    text-align: center;

}

.h2size {
     font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    color: lightslategray;
}





header {
background-color: #202020;


}

footer {
    background-color: #555555;
}

h1, h2 {
  color: #fff;
}

h3 {

  color: gray;
}
